*{
    margin: 0;
    padding: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.navtitle{
    font-weight: 800;
    font-size: 45px;
}

.sidetxt{
    color: brown;
}


nav ul{
   display: flex;
   gap: 50px;
}

nav ul li{
    list-style: none;

}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

.dark2{
    color: #474747;
}


.btn_sared{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 15px;
    
}


.banner{
    display: flex;
    justify-content: space-between;
}

.banner_content{
    width: 50%;
    margin-left: 140px;
    padding: 80px;
}
.banner button{
    margin-right: 30px;
    margin-top: 30px;
}
.banner_title{
 font-weight: bold;
 font-size: 60px;
}

.banner_des{
    width: 75%;
}

.banner_greeting{
    font-size: 30px;
    font-weight: 600;
}

.banner_pic{
    width: 500px;
    height: 450px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 50%;
   
}


.eader{
    background-image: url("images/developer.png"),url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain;
   

}


.sectitle{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
}


.secdes{
    font-size: 14px;
    color: #757575;
    margin-top: 15px;
}

.bckground{
    background-color: #f2d8c5;
}

.about{
    border-radius: 10px;
    text-align: center;
    padding: 110px;
    margin-top: 80px;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    height: 1700px;
    
   

}

.main2{
    max-width: 1000px;
    margin: 0 auto;
    height: 1000px;
}

.about_items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.itm_title{
    color: #757575;
}

.t2{
    color: #757575;
    text-align:left ;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.t1{
    margin-left: 10px;
    margin-bottom: 8px;
    font-weight:900;
    font-size: 18px;
    
}

.parent_card{
    display: flex;
    gap: 10px;
}

.parent_card2{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}
.card1{
   
    border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(39, 10, 10, 0.529);
background: rgb(255, 255, 255);
width: 300px;
height: 350px;


}


.card2{
   
    border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(39, 10, 10, 0.181);
background: rgb(255, 255, 255);
width: 400px;
height: 350px;


}


.parent_card  .card1 img{
  margin-top: 8px;
  margin-left: 10px;
}


.resume{
    margin-top: 50px;
}
.section_title{
   
    text-align: center;
    margin-bottom: 40px;
}

.line {
    border-bottom: 5px solid rgb(26, 99, 95);
    margin-top:160px;
    width: 100%;
}